/vendor
/node_modules
/.env
/.idea
/.vscode
/public/storage
/storage/*.key
/storage/framework/sessions/*
/storage/framework/cache/*
/storage/framework/views/*
/storage/logs/*
/.env
/.phpunit.result.cache
